@charset "utf-8";

.irs--round .irs-handle {
    top: 26px;
    width: 20px;
    height: 20px;
    border: 4px solid #c6A554;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
    cursor: pointer;
}
.irs--round .irs-bar {
    top: 31px;
    height: 10px;
    background-color: #c6A554;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
    font-size: 14px;
    line-height: 1;
    text-shadow: none;
    padding: 3px 5px;
    background-color: #c6A554;
    color: white;
    border-radius: 4px;
}


.irs--round .irs-line {
    top: 31px;
    height: 10px;
    background-color: #F2EBE8;
    border-radius: 4px;
}
.irs--round .irs-min, .irs--round .irs-max {
    color: #111111;
    font-family: 'raleway';
    font-size: 14px;
    top: 0;
    padding: 3px 5px;
    background-color: white;
    border-radius: 4px;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: #c6A554;
}
.irs--round {
     width: 100%;
};